<div class="input-group mb-3">
    <div class="input-group-prepend">
        <select id="{{col_type}}" class="form-control">
            <option value="text">TEXT</option>
            <option value="int">INT</option>
            <option value="real">REAL</option>
            <option value="date">DATE</option>
            <option value="time">TIME</option>
        </select>
    </div>
    <input type="text" id="{{col_name}}" class="form-control" aria-label="Field Name" placeholder="Field Name">
    <div class="input-group-append">
        <button type="button" id="{{col_create}}" class="form-control">New Field</button>
    </div>
</div>