<div class="flex-row input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">WHERE</span>
    </div>
        <input id='{{txt_sql}}' type="text" class="form-control" value="" placeholder="True" aria-label="sql where" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id='{{btn_execute}}_dl'>Download Result</button>
        <button class="btn btn-outline-secondary" type="button" id='{{btn_execute}}'>Execute Query</button>
    </div>
</div>
<div id="{{alert_failed}}" class="alert alert-danger hide" role="alert"></div>
<table class="table table-bordered table-hover" id ="{{result_table}}">
</table>