{% extends "app/general/base.html" %}
{% block title %}Sign in{% endblock title %}

{% block content %}
    <form class='center-col' method="POST" action="{% url 'app:signin' %}">
        {% csrf_token %}
        {% include "app/general/forminput.html" with input_label="ID" input_name="id" input_width=3 %}
        {% include "app/general/forminput.html" with input_label="PW" input_name="pw" input_type="password" input_width=3 %}
        <input type="submit" value="Sign In" class="form-control">
    </form>
{% endblock content %}